.projects-container {
    @apply w-full py-12;
    background-color: #111;
  }
  
  .project-card {
    @apply bg-gray-900 p-5 rounded-lg shadow-lg transform transition duration-500 hover:scale-105;
    opacity: 1;
  }
  
  .project-image {
    @apply w-full aspect-video object-contain rounded-md;
    /* 
      - aspect-video sets the aspect ratio to 16:9
      - object-contain ensures the entire image is visible within that frame.
    */
  }
  
  .project-details {
    @apply mt-4 text-center;
  }
  
  .btn {
    @apply mt-4 inline-block bg-blue-500 text-white py-2 px-4 rounded-lg;
    transition: background 0.3s;
  
    &:hover {
      background: #1e3a8a;
    }
  }
  